.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(105, 49, 209, 0.9);
    color: white;
}

.box {
    width: 600px;
    padding: 30px;
    border-radius: 5px;
    background-color: #0bb3c9;
}